@using Musakai.Blazor.Components.Cards
@using Musakai.Blazor.Components.Images.ImageSlider
@using System.ComponentModel.DataAnnotations
@page "/"

<PageTitle>Daniel Klement</PageTitle>

<section id="presentation">
    <ImageSlider Title="Daniel Klement" Description="C#/.NET vývojář a fotograf" Slides="_slides" />
</section>
<section id="about-me">
    <h2>O mně</h2>
    <Image Src="your-photo.jpg" Alt="Vaše fotka" Title="" Width="50px" Height="50px" Loading="Enums.Loading.ImageLoading.Auto" SrcSet="" Sizes="" />

    <p>Ahoj, jsem Daniel, vášnivý <strong>foitograf</strong> a <strong>C#/.NET vývojář</strong>... (About me se musi doresit postupne pozdeji, az se bude dodelavat web, ted se dodava pouze HTML)</p>

    <div class="fun-facts">
        <h3>Zajímavosti</h3>
        <ul>
            <li>Vyvinul jsem [zmínka o pozoruhodném projektu].</li>
            <li>Fotografování mě zavedlo do [zmínka o zajímavých místech].</li>
        </ul>
    </div>
    <div class="cta">
        <p>Pojďme společně vytvořit něco krásného. <a href="#contact">Kontaktujte mě!</a></p>
    </div>
</section>
<section id="portfolio">
    <h2>Portfolio</h2>
    <PortfolioCard Src="" Title="Sport" />
    <PortfolioCard Src="" Title="Příroda" />
    <PortfolioCard Src="" Title="Portréty" />
    <PortfolioCard Src="" Title="Street Fotografie" />
    <PortfolioCard Src="" Title="Svatby" />
</section>
<section id="contact">
    <div class="contact-info">
        <h2>Contact Information</h2>
        <p><strong>Email:</strong> example@example.com</p>
        <p><strong>Phone:</strong> +123 456 7890</p>
        <p><strong>Address:</strong> 123 Example Street, City, Country</p>
        <p><strong>Bank Account:</strong> 1234 5678 9012 3456</p>
    </div>
    <div class="contact-form">
        <h2>Contact Us</h2>
        <EditForm Model="@contactModel" OnValidSubmit="@HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group">
                <label for="name">Name</label>
                <InputText id="name" class="form-control" @bind-Value="contactModel.Name" />
                <ValidationMessage For="@(() => contactModel.Name)" />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <InputText id="email" class="form-control" @bind-Value="contactModel.Email" />
                <ValidationMessage For="@(() => contactModel.Email)" />
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <InputTextArea id="message" class="form-control" @bind-Value="contactModel.Message" />
                <ValidationMessage For="@(() => contactModel.Message)" />
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
        </EditForm>
    </div>
</section>


@code {
    // TODO: Replace link with Button. Need to create a Button components.

    private List<ImageSliderContent> _slides = new List<ImageSliderContent>
    {
        new ImageSliderContent { Src = "image1.jpg"},
        new ImageSliderContent { Src = "image2.jpg"},
        new ImageSliderContent { Src = "image3.jpg"}
    };

    private ContactModel contactModel = new ContactModel(); 
    
    private void HandleValidSubmit()
    { 
        // This method will send request to the server.
        throw new NotFiniteNumberException();
    } 

    public class ContactModel 
    { 
        [Required] 
        public string? Name { get; set; } 
        [Required, EmailAddress]
        public string? Email { get; set; } 
        [Required] 
        public string? Message { get; set; } 
    }
}
